* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  position: relative; /* Ensure it's not fixed */
  top: 0; /* Align it to the top */
  left: 0;
  right: 0;
  z-index: 50; /* Ensure it's above other content */
}

.header {
  margin: 0;
  padding: 0;
}
