* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  margin: 0 auto !important;
}

.header {
  margin: 0;
  padding: 0;
}
