.backGroundImage{
    background-image: url(https://arozjewelry.com/themes/Arozjewelry_2/assets/img/footer/new-newsletter-bg.jpg);
    background-position: center;
    color: #fff;
    height: 500px;

}

.footer {

    background-color: #212121;
    color: #fff;
    height: 410px;
}

.text {
    margin-left: 10%;
}

.texts {
    margin-left: 6%;
    font-size: 14px;
}

.t {
    text-align: center;
    font-size: small;
}

.w {
    margin-left: 10%;
}

.join {
    margin-left: 10%;
    font-size: 140px;
    font-family: "Saol";
}