.engrave-section {
  display: flex;
  padding: 3.949vw;
  width: 100%;
}

.engrave-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 78.989vw;
  width: 100%;
  gap: 2.633vw;
  position: relative;
}

.engrave-text {
  flex: 1;
  padding-right: 1.316vw;
  padding-left: 0;
  color: #000;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.188rem;
  line-height: 1.1;
}

.engrave-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 6.25rem;
  color: #000;
  max-width: 26.33vw;
  margin-bottom: 2.633vw;
  line-height: 0.9;
}

.engrave-description {
  margin-top: 1.316vw;
  color: #000;
  text-align: left;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2.188rem;
  text-transform: uppercase;
  max-width: 42.786vw;
}

.engrave-link {
  display: flex;
  opacity: 1;
  align-items: center;
  margin-top: 2.633vw;
  font-size: 0.938rem;
}

.arrow-icon {
  margin-right: 0.658vw;
  width: 0.987vw;
  height: auto;
}

.engrave-link a {
  text-decoration: underline;
  color: #000;
  font-weight: 600;
}

.engrave-images {
  display: flex;
  align-items: center;
  gap: 1.316vw;
  position: relative;
}

.image-large img {
  max-width: 28.633vw;
  border-radius: 14px;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.image-oval {
  width: 100%;
  transform: translateX(50px);
  transition: transform 0.8s ease-out;
  position: absolute;
  right: -312px;
}

.image-oval img {
  width: 100%;
  height: auto;
  border-radius: 500px;
  max-width: 17.443vw;
}

.image-oval.animate-oval {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 768px) {
  .engrave-wrapper {
    flex-direction: column;
  }

  .engrave-text {
    padding-right: 0;
    padding-left: 0;
  }

  .engrave-title {
    font-size: 2.5rem;
  }

  .image-oval {
    position: relative;
    right: 0;
    top: 0;
  }
  .engrave-description {
    max-width: 100%;
    font-size: 1.5rem;
  }
}
