.tabs {
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  gap: 20px;
}
li {
  list-style-type: none;
  margin: 0;
  display: inline-block;
}

.nav {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  background-color: #fff9f900;
  padding: 0 20px 0 20px;
  border: 1px solid #d8d8d8;
  top: 0;
  right: 0;
  width: 97%;
  left: 0;
}

body {
  margin: 0;
  padding: 0;
}
